body   {
    margin: 0;
    background-color: rgb(45, 45, 45)
}

h3 {
    font-size: 40pt;
    margin-left: 30%;
    text-shadow: 1px 1px 2px black;
}


table {
    display: flex;
    justify-content: center;
}

td {
    font-size: 20pt;
    padding-right: 20px;
    padding-left: 20px;
}

form {
    display: flex;
    justify-content: center;
    font-size: 25pt;
}



#container {
    margin-top:200px;
}

p {
    margin-top: -15px;
    margin-left: 100px;
}



h1 {
    margin-left: 30%;
}

#buttons {
    margin-top: -10px;
}

input[id="purchase"] {
	margin-top: 50px;
    margin-left: 20px;
    background-color: green;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
}

input[id="cancel"] {
	margin-top: 50px;
    margin-right: 20px;
    background-color: rgb(53, 53, 233);
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 10px 10px 5px black;
    margin-left: 30px;
}

